<div class="row">
    <div class="col s12">
        <ul class="collection pokedex">
            <li class="collection-item clearfix">
                <span class="left">
                    <a class="waves-effect waves-light btn-small darken-2" [class.grey]="!getSeen(0)" [class.green]="getSeen(0)" (click)="toggleAllSeen()">Seen</a>
                </span>

                <div class="center-align">
                    Toggle All
                    <span class="right">
                        <a class="waves-effect waves-light btn-small darken-2" [class.grey]="!getOwn(0)" [class.green]="getOwn(0)" (click)="toggleAllOwn()">Own</a>
                    </span>
                </div>
            </li>
            <li class="collection-item clearfix" *ngFor="let entry of entries">
                <span class="left">
                    <a class="waves-effect waves-light btn-small darken-2" [class.grey]="!getSeen(entry.ind)" [class.green]="getSeen(entry.ind)"
                        (click)="toggleSeen(entry.ind)">Seen</a>
                </span>

                <div class="center-align">
                    #{{entry.num}} {{entry.name}}
                    <span class="right">
                        <a class="waves-effect waves-light btn-small darken-2" [class.grey]="!getOwn(entry.ind)" [class.green]="getOwn(entry.ind)"
                            (click)="toggleOwn(entry.ind)">Own</a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>