mat-list.spaced
    mat-list-item
        button(
            mat-raised-button=''
            '[color]'='getSeen(0) ? "primary" : ""'
            '(click)'='toggleAllSeen()'
        )
            | Seen
        
        span Toggle All

        button(
            mat-raised-button=''
            '[color]'='getOwn(0) ? "primary" : ""'
            '(click)'='toggleAllOwn()'
        )
            | Own

    mat-list-item(*ngFor='let entry of entries')
        button(
            mat-raised-button=''
            '[color]'='getSeen(entry.pokedex) ? "primary" : ""'
            '(click)'='toggleSeen(entry.pokedex)'
        )
            | Seen

        span # {{entry.pokedex + 1}} {{nameFilter(entry.name)}}

        button(
            mat-raised-button=''
            '[color]'='getOwn(entry.pokedex) ? "primary" : ""'
            '(click)'='toggleOwn(entry.pokedex)'
        )
            | Own
