mat-form-field
    mat-label {{label}}
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
        '(ngModelChange)'='onSpeciesChange($event)'
    )
        mat-option('[value]'="0" '[disabled]'='true') Species
        mat-option(
            *ngFor='let species of speciesList; trackBy: speciesTracking',
            '[value]'='species.ind',
            '[disabled]'='species.disable'
        ) {{species.name}}
