mat-form-field
    mat-label Select Item
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
        required=''
    )
        mat-option('[value]'="0" '[disabled]'='!noneSelectable') Choose Item
        mat-option(
            *ngFor='let itemOption of itemList; trackBy: optionsTracking',
            '[value]'='itemOption.ind',
            '[disabled]'='itemOption.disable'
        ) {{itemOption.name}}
