ul#sidenav.sidenav.sidenav-fixed
  // Player
  li
    a.subheader Player
  li
    a.waves-effect(routerLink='/player-basics' '[routerLinkActive]'="['active']") Basics
  li
    a.waves-effect(routerLink='/player-pokedex' '[routerLinkActive]'="['active']") Pokedex
  li
    a.waves-effect(routerLink='/player-items' '[routerLinkActive]'="['active']") Items
  li
    a.waves-effect(routerLink='/player-pokemon' '[routerLinkActive]'="['active']") Pokemon
  // Rival
  li
    a.subheader Rival
  li
    a.waves-effect Basics
  // Storage
  li
    a.subheader Storage
  li
    a.waves-effect Pokemon
  li
    a.waves-effect Items
  // Enemy
  li
    a.subheader Enemy
  li
    a.waves-effect Basics
  li
    a.waves-effect Pokemon
  // Area
  li
    a.subheader Area
  li
    a.waves-effect Basic
  li
    a.waves-effect Advanced
  li
    a.waves-effect Pokemon
  li
    a.waves-effect Player
  li
    a.waves-effect Puzzle
  // World
  li
    a.subheader World
  li
    a.waves-effect Progress
  li
    a.waves-effect Areas
  li
    a.waves-effect Options
  li
    a.waves-effect Flags
  li
    a.waves-effect Time
  li
    a.waves-effect Hall of Fame
