<ul id="sidenav" class="sidenav sidenav-fixed">

    <!-- Player -->
    <li>
        <a class="subheader">Player</a>
    </li>
    <li>
        <a class="waves-effect" routerLink="/player-basics" [routerLinkActive]="['active']">Basics</a>
    </li>
    <li>
        <a class="waves-effect" routerLink="/player-pokedex" [routerLinkActive]="['active']">Pokedex</a>
    </li>
    <li>
        <a class="waves-effect" routerLink="/player-items" [routerLinkActive]="['active']">Items</a>
    </li>
    <li>
        <a class="waves-effect">Pokemon</a>
    </li>

    <!-- Rival -->
    <li>
        <a class="subheader">Rival</a>
    </li>
    <li>
        <a class="waves-effect">Basics</a>
    </li>

    <!-- Storage -->
    <li>
        <a class="subheader">Storage</a>
    </li>
    <li>
        <a class="waves-effect">Pokemon</a>
    </li>
    <li>
        <a class="waves-effect">Items</a>
    </li>

    <!-- Enemy -->
    <li>
        <a class="subheader">Enemy</a>
    </li>
    <li>
        <a class="waves-effect">Basics</a>
    </li>
    <li>
        <a class="waves-effect">Pokemon</a>
    </li>

    <!-- Area -->
    <li>
        <a class="subheader">Area</a>
    </li>
    <li>
        <a class="waves-effect">Basic</a>
    </li>
    <li>
        <a class="waves-effect">Advanced</a>
    </li>
    <li>
        <a class="waves-effect">Pokemon</a>
    </li>
    <li>
        <a class="waves-effect">Player</a>
    </li>
    <li>
        <a class="waves-effect">Puzzle</a>
    </li>

    <!-- World -->
    <li>
        <a class="subheader">World</a>
    </li>
    <li>
        <a class="waves-effect">Progress</a>
    </li>
    <li>
        <a class="waves-effect">Areas</a>
    </li>
    <li>
        <a class="waves-effect">Options</a>
    </li>
    <li>
        <a class="waves-effect">Flags</a>
    </li>
    <li>
        <a class="waves-effect">Time</a>
    </li>
    <li>
        <a class="waves-effect">Hall of Fame</a>
    </li>
</ul>