ul.sidenav
  // Player
  li
    a.subheader Player
  li
    a.waves-effect(routerLink='/player-basics' '[routerLinkActive]'="['active']") Basics
  li
    a.waves-effect(routerLink='/player-pokedex' '[routerLinkActive]'="['active']") Pokedex
  li
    a.waves-effect(routerLink='/player-items' '[routerLinkActive]'="['active']") Items
  li
    a.waves-effect(routerLink='/player-pokemon' '[routerLinkActive]'="['active']") Pokemon
  // Rival
  li
    a.subheader Rival
  li
    a.waves-effect(routerLink='/rival-basics' '[routerLinkActive]'="['active']") Basics
  // Storage
  li
    a.subheader Storage
  li
    a.waves-effect(routerLink='/storage-all' '[routerLinkActive]'="['active']") All
  // Area
  li
    a.subheader Area
  li
    a.waves-effect(routerLink='/area-general' '[routerLinkActive]'="['active']") General
  li
    a.waves-effect(routerLink='/area-audio' '[routerLinkActive]'="['active']") Audio
  li
    a.waves-effect(routerLink='/area-tilesets' '[routerLinkActive]'="['active']") Tileset
  li
    a.waves-effect(routerLink='/area-cached-sprites' '[routerLinkActive]'="['active']") Cached Sprites
  li
    a.waves-effect Sprites
  li
    a.waves-effect Warps
  li
    a.waves-effect Signs
  li
    a.waves-effect Player
  li
    a.waves-effect Map
  li
    a.waves-effect NPC
  li
    a.waves-effect Pokemon
  li
    a.waves-effect Puzzle
  // World
  li
    a.subheader World
  li
    a.waves-effect Progress
  li
    a.waves-effect Areas
  li
    a.waves-effect Options
  li
    a.waves-effect Flags
  li
    a.waves-effect Time
  li
    a.waves-effect Hall of Fame
