.container.wrapper
    .s12
        h5 Next Script

mat-list
    mat-list-item(*ngFor='let entry of scripts; let i = index')
        mat-form-field(style='width: 100%;')
            mat-label {{entry.readableName}}
            input(
                matInput
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.currentScriptProgress[scripts[i].varName]'
            )
