mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Name
            mat-panel-description Rival Name

        name-input-box(
            '[maxLength]'="7"
            label="Rival Name"
            '[bg]'="true"
            '[textBlack]'="true"
            'template'='<<t>><<c(": Yeah! Am")>><br><<c("I great or what?")>>'
            '[(ngModel)]'='fileService.fileDataExpanded.rival.rivalName'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Starter
            mat-panel-description Rival Starter

        select-starter('[(ngModel)]'='fileService.fileDataExpanded.rival.rivalStarter')
