.container.wrapper
    .row.s12
        h5 Rival Basics
    .row.s12.m4
        name-input-box(
            '[maxLength]'="7"
            label="Rival Name"
            '[bg]'="true"
            '[textBlack]'="true"
            'template'='<<t>><<c(": Yeah! Am")>><br><<c("I great or what?")>>'
            '[(ngModel)]'='fileService.fileDataExpanded.rival.rivalName'
        )
    .s3.m3
        select-starter('[(ngModel)]'='fileService.fileDataExpanded.rival.rivalStarter')
