mat-form-field
    mat-label {{label}}
    input(
        matInput=''
        '[placeholder]'='label'
        type='text'
        '[(ngModel)]'='value'
        '(ngModelChange)'='doOnChange($event)'
        '[disabled]'='disabled'
    )
    button(
        'matSuffix'=''
        'aria-label'="Keyboard"
        style="width: 45px"
        mat-icon-button
        '(click)'='onKeyboardClick()'
    )
        span.im.im-keyboard4
