mat-form-field(style='width: 100%;')
    mat-label {{label}}
    input(
        matInput=''
        '[placeholder]'='label'
        type='text'
        '[(ngModel)]'='value'
        '(ngModelChange)'='doOnChange($event)'
        '[disabled]'='disabled'
    )
