mat-sidenav-container.sidenav-container
    mat-sidenav.sidenav(
        '#drawer'='',
        fixedinviewport='true',
        '[attr.role]'="(isHandset$ | async) ? 'dialog' : 'navigation'",
        '[mode]'="(isHandset$ | async) ? 'over' : 'side'",
        '[opened]'='!(isHandset$ | async)'
    )

        mat-nav-list
            // Player
            a.subheader(mat-list-item='') Player

            a(mat-list-item='', routerLink='/player-basics' '[routerLinkActive]'="['active']") Basics
            a(mat-list-item='', routerLink='/player-pokedex' '[routerLinkActive]'="['active']") Pokedex
            a(mat-list-item='', routerLink='/player-items' '[routerLinkActive]'="['active']") Items
            a(mat-list-item='', routerLink='/player-pokemon' '[routerLinkActive]'="['active']") Pokemon

            // Rival
            a.root(mat-list-item='', routerLink='/rival-basics' '[routerLinkActive]'="['active']") Rival

            // Storage
            a.root(mat-list-item='', routerLink='/storage-all' '[routerLinkActive]'="['active']") Storage

            // Area
            a.subheader(mat-list-item='') Area

            a(mat-list-item='', routerLink='/area-general' '[routerLinkActive]'="['active']") General
            a(mat-list-item='', routerLink='/area-audio' '[routerLinkActive]'="['active']") Audio
            a(mat-list-item='', routerLink='/area-tilesets' '[routerLinkActive]'="['active']") Tileset
            a(mat-list-item='', routerLink='/area-cached-sprites' '[routerLinkActive]'="['active']") Cached Sprites
            a(mat-list-item='', routerLink='/area-sprites' '[routerLinkActive]'="['active']") Sprites
            a(mat-list-item='', routerLink='/area-warps' '[routerLinkActive]'="['active']") Warps
            a(mat-list-item='', routerLink='/area-signs' '[routerLinkActive]'="['active']") Signs
            a(mat-list-item='', routerLink='/area-player' '[routerLinkActive]'="['active']") Player
            a(mat-list-item='', routerLink='/area-maps' '[routerLinkActive]'="['active']") Map
            a(mat-list-item='', routerLink='/area-npcs' '[routerLinkActive]'="['active']") NPC
            a(mat-list-item='', routerLink='/area-pokemon' '[routerLinkActive]'="['active']") Pokemon
            a(mat-list-item='', routerLink='/area-puzzle' '[routerLinkActive]'="['active']") Puzzle

            // World
            a.subheader(mat-list-item='') World

            a(mat-list-item='', routerLink='/world-events' '[routerLinkActive]'="['active']") Events
            a(mat-list-item='', routerLink='/world-hidden' '[routerLinkActive]'="['active']") Hidden
            a(mat-list-item='', routerLink='/world-trades' '[routerLinkActive]'="['active']") Trades
            a(mat-list-item='', routerLink='/world-towns' '[routerLinkActive]'="['active']") Towns
            a(mat-list-item='', routerLink='/world-missables' '[routerLinkActive]'="['active']") Missables
            a(mat-list-item='', routerLink='/world-scripts' '[routerLinkActive]'="['active']") Scripts
            a(mat-list-item='', routerLink='/world-completed' '[routerLinkActive]'="['active']") Completed
            a(mat-list-item='', routerLink='/world-general' '[routerLinkActive]'="['active']") General
            a(mat-list-item='', routerLink='/world-other' '[routerLinkActive]'="['active']") Other

            a.root.disabled(mat-list-item='') Daycare
            a.root.disabled(mat-list-item='') Hall of Fame

    mat-sidenav-content
        button(
            type='button',
            aria-label='Toggle sidenav',
            mat-icon-button='',
            '(click)'='drawer.toggle()',
            *ngIf='isHandset$ | async'
        )
            mat-icon(aria-label='Side nav toggle icon') menu
        ng-content
