mat-card
    mat-card-title Towns
    mat-card-subtitle Towns &amp; Cities visited in person

mat-list
    mat-list-item
        button(
            mat-raised-button=''
            '[color]'='getTown(0) ? "primary" : ""'
            '(click)'='toggleAllTowns()'
        )
            span.im.im-checkmark4
        
        span &nbsp; Toggle All

    mat-list-item(*ngFor='let entry of towns; let i = index;')
        button(
            mat-raised-button=''
            '[color]'='getTown(i) ? "primary" : ""'
            '(click)'='toggleTown(i)'
        )
            span.im.im-checkmark4

        span &nbsp; {{entry.name}}
