.col.s1
    label.right-align
        input(
            type="checkbox"
            '[checked]'='edit'
            '(change)'='editClicked()'
            '[disabled]'='disabled'
        )
        span &nbsp;
.col.s7
    name-input-box(
        label="Nickname"
        'template'='<<t>><<c("\'s")>><br><<c("hurt by poison!")>>'
        '[(ngModel)]'='value'
        '[disabled]'='disabled || !edit'
        '(onChangeValue)'='doOnChangeValue($event)'
        '(onChangeInternal)'='doOnChangeInternal($event)'
        '(onChangeHTML)'='doOnChangeHTML($event)'
    )
