.menu button:first-child {
    padding-left: 0;
}

.align-top {
    vertical-align: top;
}
 
name-input-box {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
}

.screen {
    margin-top: 15px;
}

.header {
    font-weight: bold;
    width: 5em;
    display: inline-block;
    text-align: right;
    padding-right: 1em;
}

.max-width {
    width: 100%;
}

.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.move-entry {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-form-field {
        width: 5em;
    }
}

.flex-default-item {
    flex-grow: 2;
}

// .card {
//     border-radius: 5px;
// }

// .btn-add.btn-floating-icon-normal.stick {
//     bottom: -15px;
//     right: -15px;
//     padding-top: 6px !important;
// }

// .btn-rem.btn-floating-icon-normal.stick {
//     bottom: -15px;
//     right: -15px;
//     padding-top: 6px !important;
// }

// .label-title {
//     line-height: 40px;
// }

// .clicky {
//     cursor: pointer;
// }

// .spacer {
//     padding-bottom: 15px;
// }
