.card {
    border-radius: 5px;
}

.btn-add.btn-floating-icon-normal.stick {
    bottom: -15px;
    right: -15px;
    padding-top: 6px !important;
}

.btn-rem.btn-floating-icon-normal.stick {
    bottom: -15px;
    right: -15px;
    padding-top: 6px !important;
}

.label-title {
    line-height: 40px;
}
