mat-card
        mat-card-title Items
        mat-card-subtitle Player Items On-Hand

.container
    entry-item(
        '*ngFor'='let entry of entries; let i = index; trackBy: entriesTracking'
        '[data]'='entries[i]'
        '[disabled]'='false'
        '(remove)'='remListItem(i)'
    )

    entry-item(
        '*ngIf'='entriesCount == 0'
        '[disabled]'='true'
    )

    button(
        mat-raised-button=''
        '(click)'='addListItem()'
        '[disabled]'='entriesCount >= 20'
        color="primary"
        style="width: 100%;"
    )
        span.im.im-plus3
