.row
    .col.s12

        ul.collection.items.slim-list.sticky

            entry-item(
                *ngFor='let entry of entries; let i = index'
                '[data]'='entries[i]'
                '[disabled]'='false'
                '(remove)'='remListItem(i)'
            )

            entry-item(
                *ngIf='entriesCount == 0'
                '[disabled]'='true'
            )

            a.btn-floating.btn.waves-effect.btn-floating-icon-normal.stick.br(
                '(click)'='addListItem()'
                '[class.disabled]'='entriesCount >= 20'
            )
                span.im.im-plus3
