mat-form-field
    mat-label Status
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'="255" '[disabled]'='') Choose Status
        mat-option('[value]'="00") ---
        mat-option('[value]'="01") Sleep (1 Turn Left)
        mat-option('[value]'="02") Sleep (2 Turns Left)
        mat-option('[value]'="03") Sleep (3 Turns Left)
        mat-option('[value]'="04") Sleep (4 Turns Left)
        mat-option('[value]'="05") Sleep (5 Turns Left)
        mat-option('[value]'="06") Sleep (6 Turns Left)
        mat-option('[value]'="07") Sleep (7 Turns Left)
        mat-option('[value]'="8") Poisoned
        mat-option('[value]'="16") Burned
        mat-option('[value]'="32") Frozen
        mat-option('[value]'="64") Paralyzed
