select.browser-default(
    '[(ngModel)]'='value'
    '[disabled]'='disabled'
)
    option('[value]'="255" disabled='') Choose Status
    option('[value]'="00") ---
    option('[value]'="01") Sleep (1 Turn Left)
    option('[value]'="02") Sleep (2 Turns Left)
    option('[value]'="03") Sleep (3 Turns Left)
    option('[value]'="04") Sleep (4 Turns Left)
    option('[value]'="05") Sleep (5 Turns Left)
    option('[value]'="06") Sleep (6 Turns Left)
    option('[value]'="07") Sleep (7 Turns Left)
    option('[value]'="8") Poisoned
    option('[value]'="16") Burned
    option('[value]'="32") Frozen
    option('[value]'="64") Paralyzed
