mat-sidenav-container.sidenav-container
    mat-sidenav.sidenav(
        '#drawer'='',
        fixedinviewport='true',
        '[attr.role]'="(isHandset$ | async) ? 'dialog' : 'navigation'",
        '[mode]'="(isHandset$ | async) ? 'over' : 'side'",
        '[opened]'='opened'
        'position'='end'
    )
        //- .tiles
        //-     .tile(
        //-         '*ngFor'='let key of ts.search.keys'
        //-     )
        span(
            '*ngFor'='let key of ts.search.keys'
        )
            button(
                mat-button
            )
                name-box(
                    '[maxLength]'='100'
                    '[value]'='key.eng'
                )

    mat-sidenav-content
        ng-content
