.keyboard-container(*ngIf='activeKeyboard == 1')
    .basic-keyboard.keyboard.sticky
        .content
            p.instr.center-align.
                Basic Keyboard containing only keys found normally in game. Click to copy.

            .special-char(*ngFor='let char of basicKeys')
                span.preview.pr-container.pr-white.pr-small(
                    'innerHTML'='{{char.html}}'
                    '(click)'='copyChar(char.copyCode)'
                )
                span.code {{char.copyCode}}

        a.btn-floating.btn.waves-effect.btn-floating-icon-normal.stick.tr(
                '(click)'='closeKeyboard()'
        )
            span.im.im-close

.keyboard-container(*ngIf='activeKeyboard == 2')
    .full-keyboard.keyboard.sticky
        .content
            p.instr.center-align.
                Complete keyboard containing every possible non-picture key the game uses,
                click to copy. All of these take 1 slot even if it's multiple
                characters.

            .special-char(*ngFor='let char of controlKeys')
                span.preview((click)='copyChar(char.copyCode)')
                span.code {{char.copyCode}}
            br

            .special-char(*ngFor='let char of multiCharKeys')
                span.preview.pr-container.pr-white.pr-small(
                    'innerHTML'='{{char.html}}'
                    '(click)'='copyChar(char.copyCode)'
                    )
                span.code {{char.copyCode}}
            br

            .special-char(*ngFor='let char of singleCharKeys')
                span.preview.pr-container.pr-white.pr-small(
                    'innerHTML'='{{char.html}}'
                    '(click)'='copyChar(char.copyCode)'
                    )
                span.code {{char.copyCode}}

        a.btn-floating.btn.waves-effect.btn-floating-icon-normal.stick.tr(
                '(click)'='closeKeyboard()'
        )
            span.im.im-close

.keyboard-container(*ngIf='activeKeyboard == 3')
    .pic-keyboard.keyboard.sticky
        .content
            p.instr.center-align
                | Picture keyboard containing every picture you can insert that the game
                | allows, click to copy.
                br
                | These pictures will not stay consistent and are based on the map, menu,
                | or gameplay your in.
            .special-char(*ngFor='let char of picKeys')
                span.preview.pr-container.pr-white(
                    'innerHTML'='{{char.html}}'
                    '(click)'='copyChar(char.copyCode)'
                    )
                span.code {{char.copyCode}}

        a.btn-floating.btn.waves-effect.btn-floating-icon-normal.stick.tr(
                '(click)'='closeKeyboard()'
        )
            span.im.im-close
