mat-sidenav-container.sidenav-container
    mat-sidenav.sidenav(
        '#drawer'='',
        fixedinviewport='true',
        '[attr.role]'="(isHandset$ | async) ? 'dialog' : 'navigation'",
        '[mode]'="(isHandset$ | async) ? 'over' : 'side'",
        '[opened]'='opened'
        'position'='end'
    )

        mat-grid-list(
            cols="10"
            gutterSize='2px'
        )
            mat-grid-tile(
                '*ngFor'='let key of ts.search.keys'
                '[colspan]'='(key.multiChar) ? 5 : 1'
            )
                button(
                    mat-button
                )
                    name-box(
                        '[maxLength]'='100'
                        '[value]'='key.eng'
                    )

    mat-sidenav-content
        ng-content
