mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Sprites
            mat-panel-description NPC Sprites

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.npcsFaceAway'
        )
            span Face Away on Interaction

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.scriptedNPCMovement'
        )
            span Scripted Movement Init

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.npcSpriteMovement'
        )
            span Scripted Movement Running

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Controls
            mat-panel-description NPC Controls

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.ignoreJoypad'
        )
            span Ignore Controls

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.joypadSimulation'
        )
            span Scripted Controls

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Battle
            mat-panel-description NPC Battle

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.runningTestBattle'
        )
            span Scripted Battle

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.trainerWantsBattle'
        )
            span Trainer Battle

        mat-form-field
            mat-label Trainer Pointer
            input(
                matInput
                type='text'
                '[(ngModel)]'='fileService.fileDataExpanded.area.npcs.trainerHeaderPtr'
            )
