mat-form-field(style="width: 100%")
    mat-label {{label}}
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'='0', '[disabled]'='!noneSelectable') Choose Map
        mat-option(
            *ngFor='let map of mapList; trackBy: trackByFn',
            '[value]'='map.ind',
            '[disabled]'='map.disable'
        ) {{map.name}}
