.row-container
    .row
        name-box.grow(
            '[value]'='entry.nickname'
        )

        mat-label Lvl: {{entry.level}}

    .row
        hp-bar.grow(
            '[curHP]'='entry.hp'
            '[maxHP]'='entry.maxHP || 1'
            '[disabled]'='disabled'
        )

        span.hp {{entry.hp}} / {{entry.maxHP || this.entry.hpStat || 1}}
