mat-card
    mat-card-title Event Pokemon
    mat-card-subtitle Pokemon distributed at special events

mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Japan
            mat-panel-description Events in Japan

        mat-list
            mat-list-item(*ngFor='let entry of jpRawEvents; let i = index; trackBy: entriesTracking')
                button(
                    mat-raised-button=''
                    '(click)'='genPokemonAndGive(entry)'

                    '[matTooltip]'="entry.desc"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; {{entry.title}}

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Europe
            mat-panel-description Events in Europe

        mat-list
            mat-list-item(*ngFor='let entry of euRawEvents; let i = index; trackBy: entriesTracking')
                button(
                    mat-raised-button=''
                    '(click)'='genPokemonAndGive(entry)'

                    '[matTooltip]'="entry.desc"
                    matTooltipPosition="left"
                )
                    span.im.im-gift2

                span &nbsp; {{entry.title}}
