mat-form-field(style="width: 100%")
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'='-1', '[disabled]'='!noneSelectable') &nbsp;
        mat-option(
            *ngFor='let missable of missableList; let i = index; trackBy: trackBy',
            '[value]'='missable.ind'
        ) {{missable.name}}
