mat-form-field
    mat-label Select Missable
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'='-1', '[disabled]'='!noneSelectable') -----
        mat-option(
            *ngFor='let missable of missableList; let i = index; trackBy: trackBy',
            '[value]'='missable.ind'
        ) {{missable.name}}
