mat-form-field(style="width: 100%")
    mat-label Sprite
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'='0', '[disabled]'='true') Choose Sprite
        mat-option(
            *ngFor='let sprite of spriteList; trackBy: spriteListTrackBy',
            '[value]'='sprite.ind',
            '[disabled]'='sprite.disabled'
        ) {{sprite.name}}
