.menu button:first-child {
    padding-left: 0;
}

.align-top {
    vertical-align: top;
}

.screen {
    margin-top: 15px;
}

.header {
    font-weight: bold;
    width: 5em;
    display: inline-block;
    text-align: right;
    padding-right: 1em;
}

.max-width {
    width: 100%;
}

.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.move-entry {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-form-field {
        width: 5em;
    }
}

.flex-default-item {
    flex-grow: 2;
}

select-item {
    width: 12em;
    display: inline-block;
}

select-sprite {
    width: 15em;
    display: block;
}
