mat-accordion
    mat-expansion-panel(*ngFor='let entry of entries; let i = index', hideToggle='true', '[expanded]'='i == 0')
        mat-expansion-panel-header(collapsedHeight='50px')
            card-sprite-header(
                '[entry]'='entries[i]'
            )
        
        card-sprite(
            '[entry]'='entries[i]'
            '(rem)'='onRem(i)'
        )

button.addBtn(
    'mat-raised-button'
    color="primary"
    '(click)'='onAdd()'
    '*ngIf'='entries.length < 16'
) +
