mat-card
    mat-card-title Global Events
    mat-card-subtitle All events completed or not across the entire game
    mat-card-content
        p Many are unused, duplicates, vague/unclear, multi-purpose, temporary, and/or error prone

mat-list
    mat-list-item
        mat-form-field.expand
            span(matPrefix='')
                span.im.im-search3 &nbsp;
            input(
                matInput=''
                type='text'
                '[(ngModel)]'='search'
            )

    mat-list-item
        button(
            mat-raised-button=''
           '[color]'='getEvent(0) ? "primary" : ""'
            '(click)'='toggleAllEvents()'
        )
            span.im.im-checkmark4
        
        span &nbsp; Toggle All

    mat-list-item(*ngFor='let entry of paginatedEntries')
        button(
            mat-raised-button=''
            '[color]'='getEvent(entry.ind) ? "primary" : ""'
            '(click)'='toggleEvent(entry.ind)'
        )
            span.im.im-checkmark4

        span &nbsp; {{entry.name}}

mat-paginator(
    '[length]'='entries.length'
    '[pageSize]'='10'
    '[pageSizeOptions]'="[5, 10, 15, 25, 50, 100]"
    '[showFirstLastButtons]'='true'
    '(page)'='paginatorChange($event)'
)
