<ul id="sidenav" class="sidenav sidenav-fixed">

    <!-- Player -->
    <li>
        <a class="subheader">Player</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Basics</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Pokedex</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Items</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Pokemon</a>
    </li>

    <!-- Rival -->
    <li>
        <a class="subheader">Rival</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Basics</a>
    </li>

    <!-- Storage -->
    <li>
        <a class="subheader">Storage</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Pokemon</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Items</a>
    </li>

    <!-- Enemy -->
    <li>
        <a class="subheader">Enemy</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Basics</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Pokemon</a>
    </li>

    <!-- Area -->
    <li>
        <a class="subheader">Area</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Basic</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Advanced</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Pokemon</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Player</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Puzzle</a>
    </li>

    <!-- World -->
    <li>
        <a class="subheader">World</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Progress</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Areas</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Options</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Flags</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Time</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">Hall of Fame</a>
    </li>
</ul>