mat-card
    mat-card-title Daycare
    mat-card-subtitle Pokemon in Daycare

mat-checkbox(
    '(change)'='dayCareUsedClick()'
    '[checked]'='fileService.fileDataExpanded.daycare.dayCare != null'
)
    span Daycare Used

.pokemon('*ngIf'='fileService.fileDataExpanded.daycare.dayCare != null')
    card-pokemon-header(
        '[entry]'='fileService.fileDataExpanded.daycare.dayCare'
    )

    card-pokemon(
        '[entry]'='fileService.fileDataExpanded.daycare.dayCare'
    )

.pokemon('*ngIf'='fileService.fileDataExpanded.daycare.dayCare == null')
    card-pokemon-header(
        '[disabled]'='true'
    )

    card-pokemon(
        '[disabled]'='true'
    )
