.progress {
    height: 10px;
    transition: all .3s ease-in-out;
}

.progress .determinate {
    transition: all .3s ease-in-out;
}

.hp-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
}
