mat-form-field
    mat-label Select Starter
    mat-select(
        '[(ngModel)]'='value'
    )
        mat-option(value="00" disabled='') Choose Starter
        mat-option(value="99") Bulbasaur
        mat-option(value="B0") Charmander
        mat-option(value="B1") Squirtle
