select.browser-default(
    '[(ngModel)]'='value'
)
    option(value="00" disabled='') Choose Starter
    option(value="99") Bulbasaur
    option(value="B0") Charmander
    option(value="B1") Squirtle
