select.browser-default(
    '[(ngModel)]'='value'
    '[disabled]'='disabled'
    )
    option([value]='255', disabled='') Choose Move
    option([value]='0') ----
    option(
        *ngFor='let move of movesList',
        '[value]'='move.ind',
        '[disabled]'='move.disable'
    ) {{move.name}}
