mat-form-field
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'="255" '[disabled]'='') Choose Move
        mat-option(
            *ngFor='let move of movesList; trackBy: movesTracking',
            '[value]'='move.ind',
            '[disabled]'='move.disable'
        ) {{move.name}}
