<div class="row">
    <div class="col s12">
        <h5>Player Basics</h5>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input placeholder="Name" id="player_name" type="text">
        <label for="player_name">Player Name</label>
    </div>
    <div class="input-field col s6 m2">
        <input placeholder="ID" id="player_id" type="text">
        <label for="player_id">Player ID</label>
    </div>
    <div class="input-field col s6 m2">
        <input placeholder="Money" id="money" type="number">
        <label for="money">Spending Money</label>
    </div>
    <div class="input-field col s6 m2">
        <input placeholder="Coins" id="coins" type="number">
        <label for="coins">Casino Coins</label>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h5>Badges</h5>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <gym-button gymLeader="Brock" gymBadge="Boulder"></gym-button>
        <gym-button gymLeader="Misty" gymBadge="Cascade"></gym-button>
        <gym-button gymLeader="Lt. Surge" gymBadge="Thunder"></gym-button>
        <gym-button gymLeader="Erika" gymBadge="Rainbow"></gym-button>
        <gym-button gymLeader="Koga" gymBadge="Soul"></gym-button>
        <gym-button gymLeader="Sabrina" gymBadge="Marsh"></gym-button>
        <gym-button gymLeader="Blaine" gymBadge="Volcano"></gym-button>
        <gym-button gymLeader="Giovanni" gymBadge="Earth"></gym-button>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h1 savefile-string></h1>
    </div>
</div>