mat-list
    mat-list-item
        mat-label Auto load from list
    mat-list-item
        mat-form-field
            mat-select(
                '[(ngModel)]'='this.fileService.fileDataExpanded.area.cachedSprites.spriteSetId'
            )
                mat-option('[value]'='255', '[disabled]'='true') Choose Pre-loaded sprites
                mat-option(
                    *ngFor='let entry of preloadFromList; trackBy: spriteListTrackBy',
                    '[value]'='entry.value',
                ) {{entry.name}}
    mat-list-item
        mat-label Current list of cached sprites
    mat-list-item(*ngFor='let entry of entries; let i = index; trackBy: spriteSetTrackBy;')
        select-sprite(
            '[(ngModel)]'='entries[i]'
            '[disabled]'='disabled'
            'label'=""
        )
