.container.wrapper(style="width: 400px")
    .row.s12
        mat-label Pre-load initially from built-in list
        mat-form-field(style="width: 100%;")
            mat-select(
                '[(ngModel)]'='this.fileService.fileDataExpanded.area.cachedSprites.spriteSetId'
            )
                mat-option('[value]'='255', '[disabled]'='true') Choose Pre-loaded sprites
                mat-option(
                    *ngFor='let entry of preloadFromList; trackBy: spriteListTrackBy',
                    '[value]'='entry.value',
                ) {{entry.name}}
    .row.s12
        mat-label Current list of cached sprites
    .row.s12.ns(*ngFor='let entry of entries; let i = index; trackBy: spriteSetTrackBy;')
        select-sprite.ns(
            '[(ngModel)]'='entries[i]'
            '[disabled]'='disabled'
            style="width: 100%;"
        )
