.row.sticky
    card-pokemon(
        *ngFor='let entry of entries; let i = index'
        '[entry]'='entries[i]'
        '[remBtn]'='true'
        '(onRem)'='onRem(i)'
    )
    card-pokemon(
        *ngIf='entries.length <= 5'
        '[disabled]'='true'
        '[addBtn]'='true'
        '(onAdd)'='onAdd()'
    )
