.row.sticky
    card-pokemon(
        *ngFor='let entry of entries; let i = index'
        '[entry]'='entries[i]'
        '[remBtn]'='true'
        '(onRem)'='onRem(i)'
    )
    card-pokemon(
        *ngIf='entries.length <= 5'
        '[disabled]'='true'
        '[addBtn]'='true'
        '(onAdd)'='onAdd()'
    )
//-                     .row
//-                         .col.s1
//-                             label.right-align
//-                                 input(type="checkbox" '[(ngModel)]'='entries[i].nicknameEdit' '(change)'='nickEnabledChange(entries[i])')
//-                                 span &nbsp;
//-                         .col.s7
//-                             label Nickname
//-                             input(
//-                                 type='text'
//-                                 '[(ngModel)]'='entries[i].nickname'
//-                                 '[disabled]'="!entries[i].nicknameEdit"
//-                                 '(ngModelChange)'='textUpdateChange(entries[i])'
//-                             )
//-                         .col.s4
//-                             label Sleep Turns
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].status.SLP'
//-                                     '[disabled]'="entries[i].statusCode != 1"
//-                                 )
//-                     .row
//-                         .pr-container.pr-textbox.pr-black('innerHTML'='{{getPoisonText(entries[i])}}')
//-                 #pokemon-0-moves
//-                     .row
//-                         .col.s6
//-                             label Move 1
//-                             select.browser-default.black-text(
//-                                 '[(ngModel)]'='entries[i].moves[0].moveID'
//-                             )
//-                                 option([value]='255', disabled='') Choose Move
//-                                 option([value]='0') ----
//-                                 option(
//-                                     *ngFor='let move of movesList',
//-                                     '[value]'='move.ind',
//-                                     '[disabled]'='move.disable'
//-                                 ) {{move.name}}
//-                         .col.s3
//-                             label PP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[0].pp'
//-                                 )
//-                         .col.s3
//-                             label PP UP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[0].ppUp'
//-                                 )
//-                     .row
//-                         .col.s6
//-                             label Move 2
//-                             select.browser-default.black-text(
//-                                 '[(ngModel)]'='entries[i].moves[1].moveID'
//-                             )
//-                                 option([value]='255', disabled='') Choose Move
//-                                 option([value]='0') ----
//-                                 option(
//-                                     *ngFor='let move of movesList',
//-                                     '[value]'='move.ind',
//-                                     '[disabled]'='move.disable'
//-                                 ) {{move.name}}
//-                         .col.s3
//-                             label PP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[1].pp'
//-                                 )
//-                         .col.s3
//-                             label PP UP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[1].ppUp'
//-                                 )
//-                     .row
//-                         .col.s6
//-                             label Move 3
//-                             select.browser-default.black-text(
//-                                 '[(ngModel)]'='entries[i].moves[2].moveID'
//-                             )
//-                                 option([value]='255', disabled='') Choose Move
//-                                 option([value]='0') ----
//-                                 option(
//-                                     *ngFor='let move of movesList',
//-                                     '[value]'='move.ind',
//-                                     '[disabled]'='move.disable'
//-                                 ) {{move.name}}
//-                         .col.s3
//-                             label PP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[2].pp'
//-                                 )
//-                         .col.s3
//-                             label PP UP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[2].ppUp'
//-                                 )
//-                     .row
//-                         .col.s6
//-                             label Move 3
//-                             select.browser-default.black-text(
//-                                 '[(ngModel)]'='entries[i].moves[3].moveID'
//-                             )
//-                                 option([value]='255', disabled='') Choose Move
//-                                 option([value]='0') ----
//-                                 option(
//-                                     *ngFor='let move of movesList',
//-                                     '[value]'='move.ind',
//-                                     '[disabled]'='move.disable'
//-                                 ) {{move.name}}
//-                         .col.s3
//-                             label PP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[3].pp'
//-                                 )
//-                         .col.s3
//-                             label PP UP
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].moves[3].ppUp'
//-                                 )
//-                 #pokemon-0-stats
//-                     .row
//-                         .col.s3
//-                             label Attack
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].attack'
//-                                 )
//-                         .col.s3
//-                             label Defense
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].defense'
//-                                 )
//-                         .col.s3
//-                             label Speed
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].speed'
//-                                 )
//-                         .col.s3
//-                             label Special
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].special'
//-                                 )
//-                 #pokemon-0-exp
//-                     .row
//-                         .col.s3
//-                             label Exp
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].exp'
//-                                 )
//-                         .col.s3
//-                             label HP Exp
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].hpExp'
//-                                 )
//-                         .col.s3
//-                             label Attack Exp
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].attackExp'
//-                                 )
//-                         .col.s3
//-                             label Defense Exp
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].defenseExp'
//-                                 )
//-                         .col.s3
//-                             label Speed Exp
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].speedExp'
//-                                 )
//-                         .col.s3
//-                             label Special Exp
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].specialExp'
//-                                 )
//-                 #pokemon-0-iv
//-                     .row
//-                         .col.s3
//-                             label Attack IV
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].dv.attack'
//-                                 )
//-                         .col.s3
//-                             label Defense IV
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].dv.defense'
//-                                 )
//-                         .col.s3
//-                             label Speed IV
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].dv.speed'
//-                                 )
//-                         .col.s3
//-                             label Special IV
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].dv.special'
//-                                 )
//-                 #pokemon-0-misc
//-                     .row
//-                         .col.s3
//-                             label Catch Rate
//-                             input(
//-                                     type='number'
//-                                     '[(ngModel)]'='entries[i].catchRate'
//-                                 )
