mat-card
    mat-card-title Missables
    mat-card-subtitle Disabled toggleable map scripts and/or sprites
    mat-card-content
        p Many are unused, duplicates, vague/unclear, multi-purpose, temporary, and/or error prone

mat-list
    mat-list-item
        mat-form-field.expand
            span(matPrefix='')
                span.im.im-search3 &nbsp;
            input(
                matInput=''
                type='text'
                '[(ngModel)]'='search'
            )

    mat-list-item
        button(
            mat-raised-button=''
           '[color]'='getMissable(0) ? "primary" : ""'
            '(click)'='toggleAllMissables()'
        )
            span.im.im-checkmark4
        
        span &nbsp; Toggle All

    mat-list-item(*ngFor='let entry of paginatedMissables; let i = index')
        button(
            mat-raised-button=''
            '[color]'='getMissable(missableToIndex(entry)) ? "primary" : ""'
            '(click)'='toggleEvent(missableToIndex(entry))'
        )
            span.im.im-checkmark4

        span &nbsp; {{entry.name}}

mat-paginator(
    '[length]'='missablesFiltered.length'
    '[pageSize]'='10'
    '[pageSizeOptions]'="[5, 10, 15, 25, 50, 100]"
    '[showFirstLastButtons]'='true'
    '(page)'='paginatorChange($event)'
)
