@import "pokered_font_utils";

.pr-container {
    //////////
    // Row 0
    /////////

    .pr.pr-raw-00 {
        background-position: off(0px) off(0px);
    }

    .pr.pr-raw-01 {
        background-position: off(1px) off(0px);
    }

    .pr.pr-raw-02 {
        background-position: off(2px) off(0px);
    }

    .pr.pr-raw-03 {
        background-position: off(3px) off(0px);
    }

    .pr.pr-raw-04 {
        background-position: off(4px) off(0px);
    }

    .pr.pr-raw-05 {
        background-position: off(5px) off(0px);
    }

    .pr.pr-raw-06 {
        background-position: off(6px) off(0px);
    }

    .pr.pr-raw-07 {
        background-position: off(7px) off(0px);
    }

    .pr.pr-raw-08 {
        background-position: off(8px) off(0px);
    }

    .pr.pr-raw-09 {
        background-position: off(9px) off(0px);
    }

    .pr.pr-raw-0A {
        background-position: off(10px) off(0px);
    }

    .pr.pr-raw-0B {
        background-position: off(11px) off(0px);
    }

    .pr.pr-raw-0C {
        background-position: off(12px) off(0px);
    }

    .pr.pr-raw-0D {
        background-position: off(13px) off(0px);
    }

    .pr.pr-raw-0E {
        background-position: off(14px) off(0px);
    }

    .pr.pr-raw-0F {
        background-position: off(15px) off(0px);
    }

    //////////
    // Row 1
    /////////

    .pr.pr-raw-10 {
        background-position: off(0px) off(1px);
    }

    .pr.pr-raw-11 {
        background-position: off(1px) off(1px);
    }

    .pr.pr-raw-12 {
        background-position: off(2px) off(1px);
    }

    .pr.pr-raw-13 {
        background-position: off(3px) off(1px);
    }

    .pr.pr-raw-14 {
        background-position: off(4px) off(1px);
    }

    .pr.pr-raw-15 {
        background-position: off(5px) off(1px);
    }

    .pr.pr-raw-16 {
        background-position: off(6px) off(1px);
    }

    .pr.pr-raw-17 {
        background-position: off(7px) off(1px);
    }

    .pr.pr-raw-18 {
        background-position: off(8px) off(1px);
    }

    .pr.pr-raw-19 {
        background-position: off(9px) off(1px);
    }

    .pr.pr-raw-1A {
        background-position: off(10px) off(1px);
    }

    .pr.pr-raw-1B {
        background-position: off(11px) off(1px);
    }

    .pr.pr-raw-1C {
        background-position: off(12px) off(1px);
    }

    .pr.pr-raw-1D {
        background-position: off(13px) off(1px);
    }

    .pr.pr-raw-1E {
        background-position: off(14px) off(1px);
    }

    .pr.pr-raw-1F {
        background-position: off(15px) off(1px);
    }

    //////////
    // Row 2
    /////////

    .pr.pr-raw-20 {
        background-position: off(0px) off(2px);
    }

    .pr.pr-raw-21 {
        background-position: off(1px) off(2px);
    }

    .pr.pr-raw-22 {
        background-position: off(2px) off(2px);
    }

    .pr.pr-raw-23 {
        background-position: off(3px) off(2px);
    }

    .pr.pr-raw-24 {
        background-position: off(4px) off(2px);
    }

    .pr.pr-raw-25 {
        background-position: off(5px) off(2px);
    }

    .pr.pr-raw-26 {
        background-position: off(6px) off(2px);
    }

    .pr.pr-raw-27 {
        background-position: off(7px) off(2px);
    }

    .pr.pr-raw-28 {
        background-position: off(8px) off(2px);
    }

    .pr.pr-raw-29 {
        background-position: off(9px) off(2px);
    }

    .pr.pr-raw-2A {
        background-position: off(10px) off(2px);
    }

    .pr.pr-raw-2B {
        background-position: off(11px) off(2px);
    }

    .pr.pr-raw-2C {
        background-position: off(12px) off(2px);
    }

    .pr.pr-raw-2D {
        background-position: off(13px) off(2px);
    }

    .pr.pr-raw-2E {
        background-position: off(14px) off(2px);
    }

    .pr.pr-raw-2F {
        background-position: off(15px) off(2px);
    }

    //////////
    // Row 3
    /////////

    .pr.pr-raw-30 {
        background-position: off(0px) off(3px);
    }

    .pr.pr-raw-31 {
        background-position: off(1px) off(3px);
    }

    .pr.pr-raw-32 {
        background-position: off(2px) off(3px);
    }

    .pr.pr-raw-33 {
        background-position: off(3px) off(3px);
    }

    .pr.pr-raw-34 {
        background-position: off(4px) off(3px);
    }

    .pr.pr-raw-35 {
        background-position: off(5px) off(3px);
    }

    .pr.pr-raw-36 {
        background-position: off(6px) off(3px);
    }

    .pr.pr-raw-37 {
        background-position: off(7px) off(3px);
    }

    .pr.pr-raw-38 {
        background-position: off(8px) off(3px);
    }

    .pr.pr-raw-39 {
        background-position: off(9px) off(3px);
    }

    .pr.pr-raw-3A {
        background-position: off(10px) off(3px);
    }

    .pr.pr-raw-3B {
        background-position: off(11px) off(3px);
    }

    .pr.pr-raw-3C {
        background-position: off(12px) off(3px);
    }

    .pr.pr-raw-3D {
        background-position: off(13px) off(3px);
    }

    .pr.pr-raw-3E {
        background-position: off(14px) off(3px);
    }

    .pr.pr-raw-3F {
        background-position: off(15px) off(3px);
    }

    //////////
    // Row 4
    /////////

    .pr.pr-raw-40 {
        background-position: off(0px) off(4px);
    }

    .pr.pr-raw-41 {
        background-position: off(1px) off(4px);
    }

    .pr.pr-raw-42 {
        background-position: off(2px) off(4px);
    }

    .pr.pr-raw-43 {
        background-position: off(3px) off(4px);
    }

    .pr.pr-raw-44 {
        background-position: off(4px) off(4px);
    }

    .pr.pr-raw-45 {
        background-position: off(5px) off(4px);
    }

    .pr.pr-raw-46 {
        background-position: off(6px) off(4px);
    }

    .pr.pr-raw-47 {
        background-position: off(7px) off(4px);
    }

    .pr.pr-raw-48 {
        background-position: off(8px) off(4px);
    }

    .pr.pr-raw-49 {
        background-position: off(9px) off(4px);
    }

    .pr.pr-raw-4A {
        background-position: off(10px) off(4px);
    }

    .pr.pr-raw-4B {
        background-position: off(11px) off(4px);
    }

    .pr.pr-raw-4C {
        background-position: off(12px) off(4px);
    }

    .pr.pr-raw-4D {
        background-position: off(13px) off(4px);
    }

    .pr.pr-raw-4E {
        background-position: off(14px) off(4px);
    }

    .pr.pr-raw-4F {
        background-position: off(15px) off(4px);
    }

    //////////
    // Row 5
    /////////

    .pr.pr-raw-50 {
        background-position: off(0px) off(5px);
    }

    .pr.pr-raw-51 {
        background-position: off(1px) off(5px);
    }

    .pr.pr-raw-52 {
        background-position: off(2px) off(5px);
    }

    .pr.pr-raw-53 {
        background-position: off(3px) off(5px);
    }

    .pr.pr-raw-54 {
        background-position: off(4px) off(5px);
    }

    .pr.pr-raw-55 {
        background-position: off(5px) off(5px);
    }

    .pr.pr-raw-56 {
        background-position: off(6px) off(5px);
    }

    .pr.pr-raw-57 {
        background-position: off(7px) off(5px);
    }

    .pr.pr-raw-58 {
        background-position: off(8px) off(5px);
    }

    .pr.pr-raw-59 {
        background-position: off(9px) off(5px);
    }

    .pr.pr-raw-5A {
        background-position: off(10px) off(5px);
    }

    .pr.pr-raw-5B {
        background-position: off(11px) off(5px);
    }

    .pr.pr-raw-5C {
        background-position: off(12px) off(5px);
    }

    .pr.pr-raw-5D {
        background-position: off(13px) off(5px);
    }

    .pr.pr-raw-5E {
        background-position: off(14px) off(5px);
    }

    .pr.pr-raw-5F {
        background-position: off(15px) off(5px);
    }
}
