@import "pokered_font_utils";

.pr.pr-pic-overworld {
    background-image: url('assets/pokered-font/pic-tilesets/overworld.png') !important;
}

.pr-container {

    //////////
    // Row 0
    /////////

    .pr.pr-01 {
        background-position: off(1px) off(0px);
    }

    .pr.pr-02 {
        background-position: off(2px) off(0px);
    }

    .pr.pr-03 {
        background-position: off(3px) off(0px);
    }

    .pr.pr-04 {
        background-position: off(4px) off(0px);
    }

    .pr.pr-05 {
        background-position: off(5px) off(0px);
    }

    .pr.pr-06 {
        background-position: off(6px) off(0px);
    }

    .pr.pr-07 {
        background-position: off(7px) off(0px);
    }

    .pr.pr-08 {
        background-position: off(8px) off(0px);
    }

    .pr.pr-09 {
        background-position: off(9px) off(0px);
    }

    .pr.pr-0A {
        background-position: off(10px) off(0px);
    }

    .pr.pr-0B {
        background-position: off(11px) off(0px);
    }

    .pr.pr-0C {
        background-position: off(12px) off(0px);
    }

    .pr.pr-0D {
        background-position: off(13px) off(0px);
    }

    .pr.pr-0E {
        background-position: off(14px) off(0px);
    }

    .pr.pr-0F {
        background-position: off(15px) off(0px);
    }

    //////////
    // Row 1
    /////////

    .pr.pr-10 {
        background-position: off(0px) off(1px);
    }

    .pr.pr-11 {
        background-position: off(1px) off(1px);
    }

    .pr.pr-12 {
        background-position: off(2px) off(1px);
    }

    .pr.pr-13 {
        background-position: off(3px) off(1px);
    }

    .pr.pr-14 {
        background-position: off(4px) off(1px);
    }

    .pr.pr-15 {
        background-position: off(5px) off(1px);
    }

    .pr.pr-16 {
        background-position: off(6px) off(1px);
    }

    .pr.pr-17 {
        background-position: off(7px) off(1px);
    }

    .pr.pr-18 {
        background-position: off(8px) off(1px);
    }

    .pr.pr-19 {
        background-position: off(9px) off(1px);
    }

    .pr.pr-1A {
        background-position: off(10px) off(1px);
    }

    .pr.pr-1B {
        background-position: off(11px) off(1px);
    }

    .pr.pr-1C {
        background-position: off(12px) off(1px);
    }

    .pr.pr-1D {
        background-position: off(13px) off(1px);
    }

    .pr.pr-1E {
        background-position: off(14px) off(1px);
    }

    .pr.pr-1F {
        background-position: off(15px) off(1px);
    }

    //////////
    // Row 2
    /////////

    .pr.pr-20 {
        background-position: off(0px) off(2px);
    }

    .pr.pr-21 {
        background-position: off(1px) off(2px);
    }

    .pr.pr-22 {
        background-position: off(2px) off(2px);
    }

    .pr.pr-23 {
        background-position: off(3px) off(2px);
    }

    .pr.pr-24 {
        background-position: off(4px) off(2px);
    }

    .pr.pr-25 {
        background-position: off(5px) off(2px);
    }

    .pr.pr-26 {
        background-position: off(6px) off(2px);
    }

    .pr.pr-27 {
        background-position: off(7px) off(2px);
    }

    .pr.pr-28 {
        background-position: off(8px) off(2px);
    }

    .pr.pr-29 {
        background-position: off(9px) off(2px);
    }

    .pr.pr-2A {
        background-position: off(10px) off(2px);
    }

    .pr.pr-2B {
        background-position: off(11px) off(2px);
    }

    .pr.pr-2C {
        background-position: off(12px) off(2px);
    }

    .pr.pr-2D {
        background-position: off(13px) off(2px);
    }

    .pr.pr-2E {
        background-position: off(14px) off(2px);
    }

    .pr.pr-2F {
        background-position: off(15px) off(2px);
    }

    //////////
    // Row 3
    /////////

    .pr.pr-30 {
        background-position: off(0px) off(3px);
    }

    .pr.pr-31 {
        background-position: off(1px) off(3px);
    }

    .pr.pr-32 {
        background-position: off(2px) off(3px);
    }

    .pr.pr-33 {
        background-position: off(3px) off(3px);
    }

    .pr.pr-34 {
        background-position: off(4px) off(3px);
    }

    .pr.pr-35 {
        background-position: off(5px) off(3px);
    }

    .pr.pr-36 {
        background-position: off(6px) off(3px);
    }

    .pr.pr-37 {
        background-position: off(7px) off(3px);
    }

    .pr.pr-38 {
        background-position: off(8px) off(3px);
    }

    .pr.pr-39 {
        background-position: off(9px) off(3px);
    }

    .pr.pr-3A {
        background-position: off(10px) off(3px);
    }

    .pr.pr-3B {
        background-position: off(11px) off(3px);
    }

    .pr.pr-3C {
        background-position: off(12px) off(3px);
    }

    .pr.pr-3D {
        background-position: off(13px) off(3px);
    }

    .pr.pr-3E {
        background-position: off(14px) off(3px);
    }

    .pr.pr-3F {
        background-position: off(15px) off(3px);
    }

    //////////
    // Row 4
    /////////

    .pr.pr-40 {
        background-position: off(0px) off(4px);
    }

    .pr.pr-41 {
        background-position: off(1px) off(4px);
    }

    .pr.pr-42 {
        background-position: off(2px) off(4px);
    }

    .pr.pr-43 {
        background-position: off(3px) off(4px);
    }

    .pr.pr-44 {
        background-position: off(4px) off(4px);
    }

    .pr.pr-45 {
        background-position: off(5px) off(4px);
    }

    .pr.pr-46 {
        background-position: off(6px) off(4px);
    }

    .pr.pr-47 {
        background-position: off(7px) off(4px);
    }

    .pr.pr-48 {
        background-position: off(8px) off(4px);
    }

    .pr.pr-4D {
        background-position: off(13px) off(4px);
    }
}
