mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Rods
            mat-panel-description Fishing Rods

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedOldRod'
        )
            span Obtained Old Rod

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedGoodRod'
        )
            span Obtained Good Rod

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedSuperRod'
        )
            span Obtained Super Rod

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Pokemon
            mat-panel-description Misc Pokemon Data

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedLapras'
        )
            span Obtained Lapras

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.obtainedStarterPokemon'
        )
            span Obtained Starter

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.everHealedPokemon'
        )
            span Ever Healed Pokemon

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Misc
            mat-panel-description Misc &amp; Uncategorized

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.satisfiedSaffronGuards'
        )
            span Satisfied Saffron Guards

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.completed.defeatedLorelei'
        )
            span Defeated Lorelei
