mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Maps
            mat-panel-description Map Data

        select-map(
            label='Last Map'
            '[(ngModel)]'='fileService.fileDataExpanded.world.general.lastMap'
        )

        select-map(
            label='Last Blackout'
            '[(ngModel)]'='fileService.fileDataExpanded.world.general.lastBlackoutMap'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Options
            mat-panel-description Game Options

        mat-form-field
            mat-label Text Slowness
            input(
                matInput=''
                type='number'
                '[(ngModel)]'='fileService.fileDataExpanded.world.general.options.textSpeedSlowness'
            )

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.general.letterDelay.normalDelay'
        )
            span Normal Text Speed

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.world.general.letterDelay.dontDelay'
        )
            span Fastest Text Speed

        br

        .vertical
            mat-label Battle Style
            mat-button-toggle-group(
                '[(ngModel)]'='fileService.fileDataExpanded.world.general.options.battleStyleSet'
            )
                mat-button-toggle('[value]'='false')
                    | Shift
                mat-button-toggle('[value]'='true')
                    | Set

        .vertical
            mat-label Battle Animation
            mat-button-toggle-group(
                '[(ngModel)]'='fileService.fileDataExpanded.world.general.options.battleAnimOff'
            )
                mat-button-toggle('[value]'='true')
                    | Off
                mat-button-toggle('[value]'='false')
                    | On
