<ul id="file-dropdown" class="dropdown-content">
    <li>
        <a>
            <fa-icon icon="folder-open"></fa-icon>
            &nbsp; Open
        </a>
    </li>
    <li>
        <a>
            <fa-icon icon="save"></fa-icon>
            &nbsp; Save
        </a>
    </li>
    <li>
        <a>
            <span class="im im-floppy"></span> &nbsp; Save As...
        </a>
    </li>
    <li>
        <a>
            <span class="im im-copy"></span> &nbsp; Save Copy As...
        </a>
    </li>
    <li>
        <a>
            <span class="im im-reload"></span> &nbsp; Reload from Disk
        </a>
    </li>
    <li>
        <a>
            <fa-icon icon="times"></fa-icon> &nbsp; Close file
        </a>
    </li>
</ul>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="sidenav" class="sidenav-trigger">
                <fa-icon icon="bars"></fa-icon>
            </a>
            <ul class="left">
                <li>
                    <a id="file-dropdown-trigger" data-target="file-dropdown">
                        File
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>