<ul id="file-dropdown" class="dropdown-content">
    <li>
        <a (click)="saveFile.openFile()">
            <fa-icon icon="folder-open"></fa-icon>
            &nbsp; Open
        </a>
    </li>
    <li>
        <a>
            <fa-icon icon="save"></fa-icon>
            &nbsp; Save
        </a>
    </li>
    <li>
        <a>
            <span class="im im-floppy"></span> &nbsp; Save As...
        </a>
    </li>
    <li>
        <a>
            <span class="im im-copy"></span> &nbsp; Save Copy As...
        </a>
    </li>
    <li>
        <a>
            <span class="im im-reload"></span> &nbsp; Reload from Disk
        </a>
    </li>
    <li>
        <a>
            <fa-icon icon="times"></fa-icon> &nbsp; Close file
        </a>
    </li>
</ul>
<div id="char-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <p class="instr center-align">
            Complete in-game keyboard, click to copy. All of these take 1 slot even if it's multiple characters.
        </p>
        <div class="special-char" *ngFor="let char of specialChars">
            <span class="preview pr-container pr-white pr-small" innerHTML="{{char.html}}" (click)="copyChar(char.copyCode)">
            </span>

            <span class="code">{{char.copyCode}}</span>
        </div>

        <br/>
        <br/>
        <div class="special-char" *ngFor="let char of typeableChars">
            <span class="preview pr-container pr-white pr-small" innerHTML="{{char.html}}" (click)="copyChar($char.copyCode)">
            </span>

            <span class="code">{{char.copyCode}}</span>
        </div>
    </div>
</div>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="sidenav" class="sidenav-trigger">
                <fa-icon icon="bars"></fa-icon>
            </a>
            <ul class="left">
                <li>
                    <a data-target="file-dropdown" class="dropdown-btn">
                        File
                    </a>
                </li>
                <li>
                    <a data-target="char-modal" class="modal-trigger">
                        Keyboard
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>