<ul id="file-dropdown" class="dropdown-content">
    <li>
        <a (click)="saveFile.openFile()">
            <fa-icon icon="folder-open"></fa-icon>
            &nbsp; Open
        </a>
    </li>
    <li>
        <a>
            <fa-icon icon="save"></fa-icon>
            &nbsp; Save
        </a>
    </li>
    <li>
        <a>
            <span class="im im-floppy"></span> &nbsp; Save As...
        </a>
    </li>
    <li>
        <a>
            <span class="im im-copy"></span> &nbsp; Save Copy As...
        </a>
    </li>
    <li>
        <a>
            <span class="im im-reload"></span> &nbsp; Reload from Disk
        </a>
    </li>
    <li>
        <a>
            <fa-icon icon="times"></fa-icon> &nbsp; Close file
        </a>
    </li>
</ul>

<ul id="char-dropdown" class="dropdown-content">
    <li>
        <a data-target="char-basic-modal" class="modal-trigger">
            Basic
        </a>
    </li>
    <li>
        <a data-target="char-full-modal" class="modal-trigger">
            Full
        </a>
    </li>
    <li>
        <a data-target="char-pic-modal" class="modal-trigger">
            Picture
        </a>
    </li>
</ul>

<div id="char-basic-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <p class="instr center-align">
            Basic Keyboard containing only keys found normally in game. Click to copy.
        </p>
        <div class="special-char" *ngFor="let char of basicKeys">
            <span class="preview pr-container pr-white pr-small" innerHTML="{{char.html}}" (click)="copyChar(char.copyCode)">
            </span>

            <span class="code">{{char.copyCode}}</span>
        </div>
    </div>
</div>

<div id="char-full-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <p class="instr center-align">
            Complete keyboard containing every possible non-picture key the game uses, click to copy. All of these take 1 slot even if
            it's multiple characters.
        </p>
        <div class="special-char" *ngFor="let char of controlKeys">
            <span class="preview" (click)="copyChar(char.copyCode)">
            </span>

            <span class="code">{{char.copyCode}}</span>
        </div>

        <br/>

        <div class="special-char" *ngFor="let char of multiCharKeys">
            <span class="preview pr-container pr-white pr-small" innerHTML="{{char.html}}" (click)="copyChar(char.copyCode)">
            </span>

            <span class="code">{{char.copyCode}}</span>
        </div>

        <br/>

        <div class="special-char" *ngFor="let char of singleCharKeys">
            <span class="preview pr-container pr-white pr-small" innerHTML="{{char.html}}" (click)="copyChar(char.copyCode)">
            </span>

            <span class="code">{{char.copyCode}}</span>
        </div>
    </div>
</div>

<div id="char-pic-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <p class="instr center-align">
            Picture keyboard containing every picture you can insert that the game allows, click to copy.
            <br/>These pictures will not stay consistent and are based on the map, menu, or gameplay your in.
        </p>
        <div class="special-char" *ngFor="let char of picKeys">
            <span class="preview pr-container pr-white" innerHTML="{{char.html}}" (click)="copyChar(char.copyCode)">
            </span>

            <span class="code">{{char.copyCode}}</span>
        </div>
    </div>
</div>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="sidenav" class="sidenav-trigger">
                <fa-icon icon="bars"></fa-icon>
            </a>
            <ul class="left">
                <li>
                    <a data-target="file-dropdown" class="dropdown-btn">
                        File
                    </a>
                </li>
                <li>
                    <a data-target="char-dropdown" class="dropdown-btn">
                        Keyboards
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>