#root {
    max-width: 1024px;
    margin: 0 auto;
    padding: 12px 12px;
}

mat-card {
    margin-top: 25px;
}

mat-form-field {
    margin-right: 25px;
}

mat-list.spaced, mat-list-item.spaced {
    .mat-list-item-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.mat-progress-bar.green .mat-progress-bar-fill::after {
    background-color: rgb(0, 230, 118);
}

.mat-progress-bar.amber .mat-progress-bar-fill::after{
    background-color: rgb(255, 196, 0);
}

.mat-progress-bar.red .mat-progress-bar-fill::after {
    background-color: rgb(255, 23, 68);
}

.mat-progress-bar.grey .mat-progress-bar-fill::after {
    background-color: rgb(158, 158, 158);
}

.mat-progress-bar-element {
    background-color: rgb(158, 158, 158) !important;
}

.mat-drawer-backdrop {
    background-color: transparent !important;
}

.hide-overflow-x {
    .mat-drawer-inner-container {
        overflow-x: hidden !important;
    }
}
