#root {
    max-width: 1024px;
    margin: 12px auto;
}

mat-card {
    margin-top: 25px;
}

mat-form-field {
    margin-right: 25px;
}

mat-list.spaced {
    .mat-list-item-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
