// Basics that can be overridden
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box !important;
}

div, p, span, a, ul, li {
    user-select: none;
}

a:focus, button:focus {
    outline: 0 !important;
}
