// Grid Classes
@mixin grid-classes($size, $i) {
    >.#{$size}#{$i} {
        grid-column-end: span #{$i};
        //border: 1px solid red;

        &.start-#{$size}#{$i} {
            grid-column-start: $i;
        }

        &.exp-#{$size}#{$i} {
            grid-row-end: span $i;
        }
    }
}

.container {
    //height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    padding: 15px;
    //border: 1px solid black;

    &.wrapper {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
        //border: 1px solid yellow;
    }

    &.tiles {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 100px;
        grid-auto-flow: dense;

        >* {
            color: darken(white, 10%);
            background-color: $secondary-color;
            border-radius: 3px;
            box-shadow: 5px 5px 5px hsla(0, 0%, 10%, .55);
        }

        > .horizontal {
            grid-column: span 2;
        }

        > .vertical {
            grid-row: span 2;
        }

        > .big {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    >.row {
        grid-column-start: 1;
        //border: 1px solid blue;
    }

    >.fit {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @for $i from 1 through $num-cols {
        @include grid-classes("s", $i);
    }
}

@media #{$medium-and-up} {
    .container {
        &.wrapper {
            width: 85%;
        }

        @for $i from 1 through $num-cols {
            @include grid-classes("m", $i);
        }
    }
}

@media #{$large-and-up} {
    .container {
        &.wrapper {
            width: 70%;
        }

        @for $i from 1 through $num-cols {
            @include grid-classes("l", $i);
        }
    }
}

@media #{$extra-large-and-up} {
    .container {
        &.wrapper {
            width: 70%;
        }

        @for $i from 1 through $num-cols {
            @include grid-classes("xl", $i);
        }
    }
}
