.scroll {
    overflow: auto;

    &-x {
        overflow-y: hidden;
    }

    &-y {
        overflow-x: hidden;
    }

    &-none {
        overflow: hidden;
    }
}

.sticky {
    position: relative;
}

.stick {
    position: absolute;

    &.tl {
        top: 0;
        left: 0;
    }

    &.tr {
        top: 0;
        right: 0;
    }

    &.bl {
        bottom: 0;
        left: 0;
    }

    &.br {
        bottom: 0;
        right: 0;
    }
}

.ns {
    &-t {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    &-b {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    &-l {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    &-r {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    &-tb {
        margin-top: 0 !important;
        padding-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    &-lr {
        margin-left: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    & {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.s {
    &-t {
        padding-top: 20px !important;
    }

    &-b {
        padding-bottom: 20px !important;
    }

    &-l {
        padding-left: 20px !important;
    }

    &-r {
        padding-right: 20px !important;
    }

    &-tb {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    &-lr {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    & {
        padding: 20px !important;
    }
}
