// Basics that can be overridden
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box !important;
}

div, p, span, a, ul, li {
    user-select: none;
}

a:focus, button:focus {
    outline: 0 !important;
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: darken(#e1e1e1, 15%);
}
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0);
  border: 0px none hsla(0, 0%, 0%, 0);
  border-radius: 56px;
}
::-webkit-scrollbar-track:hover {
  background: hsla(0, 0%, 0%, 0);
}
::-webkit-scrollbar-track:active {
  background: hsla(0, 0%, 0%, 0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.sticky {
    position: relative;
}

.stick {
    position: absolute;

    &.tl {
        top: 0;
        left: 0;
    }

    &.tr {
        top: 0;
        right: 0;
    }

    &.bl {
        bottom: 0;
        left: 0;
    }

    &.br {
        bottom: 0;
        right: 0;
    }
}

.ns {
    &-t {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    &-b {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    &-l {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    &-r {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    &-tb {
        margin-top: 0 !important;
        padding-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    &-lr {
        margin-left: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    & {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.s {
    &-t {
        padding-top: 20px !important;
    }

    &-b {
        padding-bottom: 20px !important;
    }

    &-l {
        padding-left: 20px !important;
    }

    &-r {
        padding-right: 20px !important;
    }

    &-tb {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    &-lr {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    & {
        padding: 20px !important;
    }
}
