.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sticky {
    position: relative;
}

.stick {
    position: absolute;

    &.tl {
        top: 0;
        left: 0;
    }

    &.tr {
        top: 0;
        right: 0;
    }

    &.bl {
        bottom: 0;
        left: 0;
    }

    &.br {
        bottom: 0;
        right: 0;
    }
}

.slim-list {
    width: 45%;
    margin: 0 auto;
    min-width: 500px;

    span,p,div {
        line-height: 32px;
    }

    select {
        height: 32px;
    }

    .row {
        margin-bottom: 0;
    }
}

.btn-floating-icon-large {
    line-height: 56px;
    font-size: 20px;
    padding-top: 2px !important;
}

.btn-floating-icon-normal {
    line-height: 30px;
    font-size: 20px;
    padding-top: 4px !important;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.flex-horz {
        flex-direction: row;

        .flex-item {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    &.flex-vert {
        flex-direction: column;

        .flex-item {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
