mat-accordion
    mat-expansion-panel('[expanded]'='true')
        mat-expansion-panel-header
            mat-panel-title Contrast
            mat-panel-description Current Map Contrast

        mat-form-field.center
            mat-select(
                '[(ngModel)]'='fileService.fileDataExpanded.area.general.contrast'
            )
                mat-option('[value]'='255', disabled='') Select Contrast Level
                mat-option('[value]'='0') Normal Contrast
                mat-option('[value]'='3') -1 Contrast
                mat-option('[value]'='6') -2 Contrast (Needs Flash)
                mat-option('[value]'='9') -3 Contrast (Solid Black)
                mat-option('[value]'='255', disabled='') Glitch Contrast Levels
                mat-option('[value]'='1') -1a Contrast
                mat-option('[value]'='2') -1b Contrast
                mat-option('[value]'='4') -2a Contrast
                mat-option('[value]'='5') -2b Contrast
                mat-option('[value]'='7') -3a Contrast
                mat-option('[value]'='8') -3b Contrast

        img.center(
            '[src]'='contrastImgUrl'
        )

    mat-expansion-panel
        mat-expansion-panel-header
            mat-panel-title Other
            mat-panel-description Other General Area Settings

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.general.noLetterDelay'
        )
            span No Letter Delay

        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.general.countPlaytime'
        )
            span Count Playtime
