.container.wrapper
    .row.s12
        h5 Area General
    .row.m4.s12
        mat-form-field(style="width: 100%")
            mat-label Contrast
            mat-select(
                '[(ngModel)]'='fileService.fileDataExpanded.area.general.contrast'
                required=''
            )
                mat-option('[value]'='255', disabled='') Select Contrast Level
                mat-option('[value]'='0') Normal Contrast
                mat-option('[value]'='3') -1 Contrast
                mat-option('[value]'='6') -2 Contrast (Needs Flash)
                mat-option('[value]'='9') -3 Contrast (Solid Black)
                mat-option('[value]'='255', disabled='') Glitch Contrast Levels
                mat-option('[value]'='1') -1a Contrast
                mat-option('[value]'='2') -1b Contrast
                mat-option('[value]'='4') -2a Contrast
                mat-option('[value]'='5') -2b Contrast
                mat-option('[value]'='7') -3a Contrast
                mat-option('[value]'='8') -3b Contrast
    .xl2.l3.m4.s6
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.general.noLetterDelay'
        )
            span No Letter Delay

    .xl2.l3.m4.s6
        mat-checkbox(
            '[(ngModel)]'='fileService.fileDataExpanded.area.general.countPlaytime'
        )
            span Count Playtime

    .row.s12
        img(
            '[src]'='contrastImgUrl'
        )
