mat-form-field
    mat-label Select Trainer
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'='0', '[disabled]'='!noneSelectable') Choose Trainer
        mat-option(
            *ngFor='let trainer of trainerList; trackBy: trackByFn',
            '[value]'='trainer.ind',
            '[disabled]'='trainer.disable'
        ) {{trainer.name}}
