.mat-form-field-label-wrapper {
    height: 35px !important;
}

.mat-progress-bar.green .mat-progress-bar-fill::after {
    background-color: color("green", "accent-3");
}

.mat-progress-bar.amber .mat-progress-bar-fill::after{
    background-color: color("amber", "accent-3");
}

.mat-progress-bar.red .mat-progress-bar-fill::after {
    background-color: color("red", "accent-3");
}

.mat-progress-bar.grey .mat-progress-bar-fill::after {
    background-color: color("grey", "darken-2");
}

.mat-progress-bar-element {
    background-color: color("grey", "darken-2") !important;
}

.mat-slider-hp {
    .mat-slider {
        padding: 0 !important;

        .mat-slider-track-background {
            background: none !important;
        }
    
        .mat-slider-track-fill {
            background: none !important;
        }

        .mat-slider-thumb {
            width: 30px;
            height: 30px;
            right: -14px;
            bottom: -15px;
        }
    }
}

.label-tiny {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255,.7);
}

.label-padding .mat-form-field-infix {
    padding-top: 18px;
}

.button-non-uniform {
    min-width: 0 !important;
    width: min-content !important;
    padding: 1px !important;
}

.mat-drawer-backdrop {
    background-color: transparent !important;
}

.hide-overflow-x {
    .mat-drawer-inner-container {
        overflow-x: hidden !important;
    }
}
