mat-form-field
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
    )
        mat-option('[value]'="256" '[disabled]'='true') Type
        mat-option('[value]'="255") ---
        mat-option(
            *ngFor='let types of typesList; trackBy: typesTracking',
            '[value]'='types.ind',
            '[disabled]'='types.disable'
        ) {{types.name}}
