mat-form-field(style="width: 100%")
    mat-select(
        '[(ngModel)]'='value'
        '[disabled]'='disabled'
        required=''
    )
        mat-option('[value]'="0" '[disabled]'='true') Type
        mat-option('[value]'="255") ---
        mat-option(
            *ngFor='let types of typesList; trackBy: typesTracking',
            '[value]'='types.ind',
            '[disabled]'='types.disable'
        ) {{types.name}}
