mat-form-field
    mat-label {{label}}
    mat-select(
        '[(ngModel)]'='value'
    )
        mat-option('[value]'="0") None
        mat-option('[value]'="1") Right
        mat-option('[value]'="2") Left
        mat-option('[value]'="4") Down
        mat-option('[value]'="8") Up
