name-input(
    '[label]'='label'
    '[(ngModel)]'='value'
    '[maxLength]'='maxLength'
    '(onChangeValue)'='doOnChangeValue($event)'
    '(onChangeInternal)'='doOnChangeInternal($event)'
    '(onChangeHTML)'='doOnChangeHTML($event)'
)

name-box(
    '[bg]'='bg'
    '[textBlack]'='textBlack'
    '[maxLength]'='maxLength'
    '[template]'='template'
    '[value]'='value'
)
